.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.secondpartlogo {
  color: #2e2f42;
}

.navigation {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.contacts {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts:hover {
  color: #404bbf;
}

.contacts:focus {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  size: 16px;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56x;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
}

h3 {
  font-family: "Roboto";
  font-size: 20px;
}

.title {
  background-color: #2e2f42;
}

.adventage {
  background-color: #ffffff;
}

.team {
  background-color: #f4f4fd;
}

.portfolio {
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}

.footer {
  color: #ffffff;
  background-color: #2e2f42;
}
